extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	section.cotizar__header
		a.cotizar__header__logo
			img(src=`${STATIC_URL}img/logo-clinica.png`)

	section.cotizar
		.cotizar__fondo__background(style=`background-image: url('${STATIC_URL}img/fondo-cotizar.png')`)
			.cotizar__container
				.cotizar__content
					.cotizar__text
						.cotizar__text__title
							h2 Cotiza tu cita médica
								strong en un solo click
					.cotizar__formulario
						.cotizar__form__box
							.cotizar__form__box__content
								.cotizar__form__title
									h3 Bienvenido
								.cotizar__form
									form
										ul
											li
												.cotizar__form__input
													input(type="text", name="nombres", placeholder="Nombres")
											li
												.cotizar__form__input
													input(type="text", name="apellido_paterno", placeholder="Apellido Paterno")
											li
												.cotizar__form__input
													input(type="text", name="apellido_materno", placeholder="Apellido Materno")
											li
													.cotizar__form__input
														select(name="")
															option(value="" disabled selected) Sede
															option(value="") Bellavista
															option(value="") Lima
															option(value="") Piura
											li
												.cotizar__form__input
													input(type="text", name="dni", placeholder="DNI")

										.cotizar__form__button
											a.cotizar__form__btn( href='#')
												p 
													span cotizar
													i.icon-arrow2-up

								.cotizar__form__footer
									.cotizar__form__footer__title
										p Estás a solo un click de empezar a cuidar tu salud


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})