extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	section.cotizar__header
		a.cotizar__header__logo
			img(src=`${STATIC_URL}img/logo-clinica.png`)

	section.cotizar
		.cotizar__fondo__background(style=`background-image: url('${STATIC_URL}img/fondo-cotizar.png')`)
			.cotizar__container
				.cotizar__content
					.cotizar__text
						.cotizar__text__title
							h2 Cotiza tu cita médica
								strong en un solo click
					.cotizar__formulario
						.pago__content__box
							.cotizar__form__box__content
								.cotizar__form__title
									h3 Bienvenido a Clínica Internacional
								.pago__datos__content
									ul
										li
											.pago__datos__box
												p Nombre: 
													span Alejandra del Carmen
										li
											.pago__datos__box
												p Apellidos: 
													span Ramos Reyes
										li
											.pago__datos__box
												p N° de documento: 
													span 70272519
										li
											.pago__datos__box
												p Empresa: 
													span Empresa “x”
										li
											.pago__datos__box
												p Sede: 
													span Mall Plaza Santa Anita
										li
											.pago__datos__box
												p Garante: 
													span Rimac EPS
										li
											.pago__datos__box
												p Cobertura: 
													span (Farmacia, Procedimientos)
									.pago__datos__content__one
										ul
											li
												.pago__datos__box__consulta
													p Pago de consulta: 
														span s/.45
								.pago__datos__content__two
									ul
										li
											.pago__datos__box__pagos
												p Pago de consulta
												p Garante 1
												.pago__datos__box__pagos__precio
													span s/.45
										li
											.pago__datos__box__pagos
												p Pago de consulta
												p Garante 1
												.pago__datos__box__pagos__precio
													span s/.45
										li
											.pago__datos__box__pagos
												p Pago de consulta
												p Garante 1
												.pago__datos__box__pagos__precio
													span s/.45
								.pago__datos__button
									a.cotizar__form__btn.pago__btn( href='#')
										p 
											span Reservar
											i.icon-arrow2-up

								.cotizar__form__footer
									.cotizar__form__footer__title
										p Estás a solo un click de empezar a cuidar tu salud


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})