.cotizar__header
	width: 97%
	margin: auto
	padding: 15px 0px
.cotizar__header__logo
	display: block
	max-width: 250px
	img
		width: 100%
		height: auto 

.cotizar__fondo__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: left center
	position: relative
	&:before
		content: ''
		position: absolute
		display: block
		width: 100%
		height: 100%
		background: #0033a0
		opacity: 0.3
		top: 0
		left: 0
		z-index: 0

.cotizar__container
	max-width: 1100px
	width: 95%
	margin: auto

.cotizar__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center
	box-sizing: border-box
	z-index: 2
	height: calc(100vh - 120px)
	padding: 90px 0px 
	vertical-align: middle
	min-height: 600px

.cotizar__text
	width: 50%
	z-index: 10

.cotizar__text__title
	padding-right: 30px
	h2
		font-size: 28px
		color: #0033a0
		display: block
		text-transform: uppercase
		font-family: 'Poppins-Bold'
		margin-bottom: 0
		line-height: 1.2
		strong
			font-size: 28px
			color: #ffffff
			display: block
			font-family: 'Poppins-Medium'

.cotizar__formulario
	width: 50%
	text-align: center
	vertical-align: middle
	perspective: 900px
	min-height: 480px

.cotizar__form__title
	padding-bottom: 22px
	border-bottom: 2px solid #0033a0
	h3
		font-family: 'Poppins-SemiBold'
		font-size: 25px
		color: #0033a0
		margin-bottom: 0

.cotizar__form__box
	max-width: 464px
	width: 100%
	margin: auto

.cotizar__form__box__content
	background: #ffffff
	position: relative
	padding-top: 34px

.cotizar__form
	padding: 34px 100px
	li
		padding-bottom: 24px

.cotizar__form__input
	position: relative
	display: block
	input, select
		border-radius: 7px
		background: #ffffff
		border: 1px solid #808080
		height: 40px
		padding: 0px 15px
		width: 100%
		box-sizing: border-box
		color: #808080
		font-size: 14px

	select
		-moz-appearance: none
		-webkit-appearance: none 
		appearance: none
		cursor: pointer
		&:before
			content: '\e924'
			position: absolute
			font-family: icomoon
			right: 10px
			top: 12px
			color: c-2

.cotizar__form__btn
	background: #15d1d1
	display: block
	width: 95%
	position: relative
	text-align: center
	box-sizing: border-box
	border: none
	line-height: 40px
	border-radius: 6px
	overflow: hidden
	color: #ffffff
	font-size: 16px
	padding: 0px 24px
	transition: all 0.25s
	text-transform: uppercase
	font-family: 'Poppins-SemiBold'
	p
		position: relative
		padding-right: 35px
		display: inline-block
		margin-bottom: 0
	span
		position: relative
		z-index: 2
		display: inline-block
		transform: scale(1)
		transition: all 0.2s cubic-bezier(0.77, -0.51, 0.75, 0.87)
		opacity: 1
	i
		font-size: 10px
		font-weight: bold
		position: absolute
		top: 0
		right: 0
		width: 30px
		line-height: 40px
		z-index: 2
		transition: all 0.3s cubic-bezier(0.77, -0.51, 0.75, 0.87)
	&:hover
		background: #15d1d1
		span
			transform: 	scale(0)
			opacity: 0
		i
			right: 43%	


.cotizar__form__button	
	display: block

.cotizar__form__footer
	background: #0033a0
	
.cotizar__form__footer__title
	padding: 10px 0px
	p
		color: #ffffff
		font-family: 'Poppins-SemiBold'
		font-size: 15px
		margin-bottom: 0


@media screen and (max-width: 1500px)
	.cotizar__content
		height: auto

@media screen and (max-width: 920px)
	.cotizar__text
		display: none
	.cotizar__formulario
		width: 100%

@media screen and (max-width: 640px)
	.cotizar__form
		padding: 34px 50px
	.cotizar__content
		padding: 30px 0px
	.cotizar__form__footer__title
		padding: 10px
		p
			font-size: 14px

@media screen and (max-width: 390px)
	.cotizar__form
		padding: 34px 15px