.pago__content__box
	max-width: 550px
	width: 100%
	margin: auto

.pago__datos__content
	padding: 30px 120px
	text-align: left
	li
		padding-bottom: 20px

.pago__datos__box
	p
		font-family: 'Gotham-Light'
		font-size: 16px
		color: #0033a0
		margin-bottom: 0
		span
			color: #43575e

.pago__datos__box__consulta
	p
		font-family: 'Gotham-Light'
		font-size: 16px
		color: #0033a0
		margin-bottom: 0
		span
			font-family: 'GothamHTF-Medium'
			color: #9454d6

.pago__datos__button
	padding: 30px 0px

.pago__datos__content__two
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		li
			width: 33.333%
.pago__datos__box__pagos
	text-align: center
	p
		font-family: 'Gotham-Light'
		font-size: 16px
		color: #0033a0
		margin-bottom: 0
.pago__datos__box__pagos__precio
	padding-top: 10px
	span
		font-family: 'GothamHTF-Medium'
		color: #9454d6
		font-size: 21px

.pago__datos__button
	.pago__btn
		width: 50%


.pago__datos__content__two
	display: none

@media screen and (max-width: 520px)
	.pago__datos__content
		padding: 30px 50px
	.pago__datos__content__two 
		ul 
			li
				width: 45%
				padding-bottom: 20px

@media screen and (max-width: 390px)
	.pago__datos__content
		padding: 30px 20px
	.pago__datos__content__two 
		ul 
			li
				width: 100%
				padding-bottom: 25px